@import "mixin";
@import "variables";

* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none !important;
}

html {
  overflow: auto;
}

html, body, #root {
  height: 100%;
}

body {
  @include font-regular;
  color: $text-color;
  margin: 0;
  padding: 0;
}

.main {
  padding: 15px;
  @include flexbox-center;

  @media (min-width: 992px) {
    height: 100%;
  }
}